/* GENERAL */

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

button {
	border: none;
	outline: 0px;
	background: none;
}

/* CONTAINER */

.container {
	display: flex;
	justify-content: space-between;
	gap: 200px;
	width: 100vw;
	height: 100vh;
	font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* CURRENT WEATHER */

.current-weather {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 40%;
	height: 100%;
	border-radius: 0px 240px 240px 0px;
}

.current-weather button {
	font-size: clamp(1rem, 2vw + 1rem, 3rem);
	font-weight: 600;
	text-decoration: 5px underline;
	text-align: center;
	width: 100%;
	transition: all 200ms ease;
	cursor: pointer;
}

.current-weather button:hover {
	transition: all 200ms ease;
	scale: 1.05;
}

.current-weather #current-temperature {
	font-size: clamp(1.5rem, 7vw + 6rem, 9rem);
	font-weight: 600;
	line-height: 150px;
}

.current-weather p#weather-type {
	font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
	font-weight: 600;
	text-align: center;
}

.current-weather #current-time {
	font-weight: 500;
}

/* FORECASTS */

.forecasts-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: start;
	width: 50%;
	padding-right: 100px;
}

.hourly-forecast,
.five-days-forecast-container {
	width: 100%;
	font-weight: 600;
}

/* HOURLY WEATHER */

.hourly-forecast ul {
	display: flex;
	gap: 15px;
}

.hourly-forecast ul li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	height: 100px;
	padding: 5px 0px;
	border-radius: 10px;
}

.hour-item p {
	font-size: 1.2rem;
	font-weight: 600;
}

.hour-item.message {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	font-weight: 400;
	font-style: italic;
}

.hour-item div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 5-DAY WEATHER */

.five-days-forecast-container ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 10px;
}

li.day-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	border-radius: 10px;
	padding: 5px 15px;
}

li.day-item p {
	font-size: 1.5rem;
	font-weight: 400;
}

li.day-item p span {
	font-weight: 600;
}

li.day-item p:nth-of-type(1) {
	flex: 100px;
}

/* make the opacity cascade effect */

.day-item:nth-of-type(2) {
	opacity: 0.9;
}
.day-item:nth-of-type(3) {
	opacity: 0.8;
}
.day-item:nth-of-type(4) {
	opacity: 0.7;
}
.day-item:nth-of-type(5) {
	opacity: 0.6;
}

/* POP UP SEARCH */

.pop-up-search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: rgba(125, 128, 153, 0.4);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
	position: absolute;
	z-index: 999;
}

.pop-up-search.hidden {
	display: none;
}

.pop-up-search #city-input {
	width: 40%;
	height: 60px;
	padding: 0px 15px;
	background: rgba(255, 255, 255, 0.8);
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: clamp(1.2rem, 2vw + 0.5rem, 1.7rem);
	color: #222222;
	border-radius: 5px;
	border: none;
	outline: 0px;
}

#close-pop-up {
	position: absolute;
	z-index: 999;
	top: 20px;
	right: 20px;
	background: none;
	outline: 0px;
	border: none;
	color: white;
	transition: scale 200ms ease;
}

#close-pop-up:hover {
	transition: scale 200ms ease;
	scale: 1.2;
}
.city-suggestions {
	margin-top: 20px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.8);
	width: 40%;
	overflow: hidden;
}

.city-suggestions ul {
	display: flex;
	flex-direction: column;
	margin-top: 0;
}

.city-suggestions ul li {
	font-size: 1.2rem;
	border-bottom: 1px solid black;
	padding: 10px;
	transition: all 200ms ease;
	cursor: pointer;
}

.city-suggestions ul li:hover {
	font-size: 1.5rem;
	transition: all 200ms ease;
	background: lightgray;
}

.city-suggestions ul li:first-of-type {
	border-radius: 10px 10px 0px 0px;
}

.city-suggestions ul li:last-of-type {
	border: none;
	border-radius: 0px 0px 10px 10px;
}

/* COLORS */

.current-weather {
	background: var(--dark-bg-color);
	transition: background-color 2s ease;
}

.current-weather > * {
	color: var(--light-font-color);
	transition: color 2s ease;
}

.container {
	background: var(--light-bg-color);
	transition: background-color 2s ease;
}

h2,
p {
	color: var(--dark-font-color);
	transition: color 2s ease;
}

.hour-item,
li.day-item {
	background: var(--forecasts-items-color);
	transition: background-color 2s ease;
}
